@import './abstracts/i';

.container {
    display: grid;
    grid-template-columns: 56px auto min-content;
    grid-template-rows: 100%;
    // background-color: red;
    height: 100vh;
    overflow: hidden;
    font-family: Roboto;
    
    * {
        height: 100%;
    }
}

#tools {
    height: 100%;
}

.render-canvas {
    width: 100%;
    grid-column: 2;
    background-color: rgb(221, 221, 221);
}

#properties {
    width: 360px;
    padding-top: 8px;
    padding-left: 20px;
    grid-column: 3;
    // background-color: rgb(223, 223, 223);
}

.section-heading {
    font-size: 1.2rem;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #00000026
}