@import './abstracts/i';
@import './components/i';

.container {
    display: grid;
    grid-template-columns: 40px auto min-content;
    grid-template-rows: 100%;
    // background-color: red;
    height: 100vh;
    overflow: hidden;
    font-family: Roboto;
    
    * {
        height: 100%;
    }
}

#tools-button-container {
    @extend .flex--column;
    // background-color: blue;
    padding-top: 4px;
    height: 100%;

    // button {
    //     @extend .flex, .button;
    //     background-color: transparent;
    //     min-height: 40px;
    //     justify-content: center;
    //     width: 100%;
    //     height: fit-content;
    //     transition: .2s;

    //     &:hover {
    //         background-color: #00000034;
    //     }
    // }
}

.render-canvas-container {
    margin: auto;
    .render-canvas {
        max-width: 1300px;
        width: 100%;
        height: 100%;
        grid-column: 2;
        background-color: rgb(221, 221, 221);
    }
}

#side-bar {
    width: 360px;
    padding: 8px 12px 8px 16px;
    grid-column: 3;
    height: 100vh;
    // background-color: blue;
    // overflow: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px auto;
}

.section-heading {
    font-size: 1.1rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #00000034;
    height: fit-content;
}

#control-buttons-container {
    @extend .flex;
    column-gap: 4px;
    height: fit-content;
    // background-color: red;
    justify-content: center;

    .control-button {
        @extend .button, .flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        // background-color: rgb(243, 192, 192);
        background: transparent;
        height: 40px;
        width: fit-content;
    }
}

#properties {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    // height: auto;
    
    div {
        height: fit-content;
    }
}