.flex, .flex--column, #tools-button-container, #tools-button-container button, #control-buttons-container, #control-buttons-container .control-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex--column, #tools-button-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button, #tools-button-container button, #control-buttons-container .control-button {
  cursor: pointer;
  border: none;
}

.icon {
  width: 1.8rem;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px auto min-content;
      grid-template-columns: 40px auto -webkit-min-content;
      grid-template-columns: 40px auto min-content;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: Roboto;
}

.container * {
  height: 100%;
}

#tools-button-container {
  height: 100%;
}

#tools-button-container button {
  background-color: transparent;
  min-height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: .2s;
  transition: .2s;
}

#tools-button-container button:hover {
  background-color: #00000034;
}

#render-canvas {
  width: 100%;
  height: 100%;
  -ms-grid-column: 2;
  grid-column: 2;
  background-color: #dddddd;
}

#side-bar {
  width: 360px;
  padding: 8px 12px 8px 16px;
  -ms-grid-column: 3;
  grid-column: 3;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 40px auto;
      grid-template-rows: 40px auto;
}

.section-heading {
  font-size: 1.1rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #00000034;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#control-buttons-container {
  gap: 4px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#control-buttons-container .control-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: transparent;
  height: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#properties {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#properties div {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
